<p id="notice"><%= notice %></p>


<%= image_tag @book.cover_url %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Series:</strong>
  <%= @book.series %>
</p>

<p>
  <strong>Num pages:</strong>
  <%= @book.num_pages %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-link" %> |
<%= link_to 'Back', books_path, class: "btn btn-link" %>
